.services__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services__container h1 {
    color: rgb(233, 233, 233);
    font-family: Epilogue, sans-serif;
    font-size: 3.25rem;
    font-weight: 700;
    padding: 150px 0px 0px 0px;
    text-shadow:
    -2px -2px 10px rgb(136, 136, 136),
    2px -2px 10px rgb(78, 78, 78);
}
.services__container h2 {
    color: rgb(233, 233, 233);
    font-family: Epilogue, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    text-shadow:
    -2px -2px 10px rgb(136, 136, 136),
    2px -2px 10px rgb(78, 78, 78);
}
.services__container p {
    color: rgb(233, 233, 233);
    font-weight: 500;
    font-family: Epilogue, sans-serif;
    width: 80%;
}