.ambassadors__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0e;
  padding-bottom: 30px;
}
.ambassadors__container h3 {
  color: rgb(212, 212, 212);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
  font-family: "Courier New", Courier, monospace;
  text-shadow: -10px 10px 25px rgb(196, 196, 196),
    -10px -10px 25px rgb(136, 136, 136), 10px -10px 25px rgb(78, 78, 78);
  user-select: none;
}
